In [43]:
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import classification_report
import statsmodels.api as sm
import statsmodels.formula.api as smf
import pandas as pd
import os

In [105]:
os.chdir("E:\\eDX - Analytics Edge\\Week2\\")

In [144]:
pisaTrain = pd.read_csv("pisa2009train.csv")

In [145]:
pisaTest = pd.read_csv("pisa2009test.csv")

In [146]:
# Problem 1.1 - Dataset size
# How many students are there in the training set?
pisaTrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3663 entries, 0 to 3662
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   grade                  3663 non-null   int64
 1   male                   3663 non-null   int64
 2   raceeth                3628 non-null   object
 3   preschool              3607 non-null   float64
 4   expectBachelors        3601 non-null   float64
 5   motherHS               3566 non-null   float64
 6   motherBachelors        3266 non-null   float64
 7   motherWork             3570 non-null   float64
 8   fatherHS               3418 non-null   float64
 9   fatherBachelors        3094 non-null   float64
 10  fatherWork             3430 non-null   float64
 11  selfBornUS             3594 non-null   float64
 12  motherBornUS           3592 non-null   float64
 13  fatherBornUS           3550 non-null   float64
 14  englishAtHome          3592 non-null   float64
 15  computerForSchoolwork  3598 non-null   float64
 16  read30MinsADay         3629 non-null   float64
 17  minutesPerWeekEnglish  3477 non-null   float64
 18  studentsInEnglish      3414 non-null   float64
 19  schoolHasLibrary       3520 non-null   float64
 20  publicSchool           3663 non-null   int64
 21  urban                  3663 non-null   int64
 22  schoolSize             3501 non-null   float64
 23  readingScore           3663 non-null   float64
dtypes: float64(19), int64(4), object(1)
memory usage: 686.9+ KB

In [147]:
#Problem 1.2 - Summarizing the dataset
pisaTrain["readingScore"].groupby(pisaTrain["male"]).mean()

male
0    512.940631
1    483.532479
Name: readingScore, dtype: float64

In [148]:
pisaTrain.isna()

,grade,male,raceeth,preschool,expectBachelors,motherHS,motherBachelors,motherWork,fatherHS,fatherBachelors,...,englishAtHome,computerForSchoolwork,read30MinsADay,minutesPerWeekEnglish,studentsInEnglish,schoolHasLibrary,publicSchool,urban,schoolSize,readingScore
0,False,False,True,True,False,True,True,False,True,True,...,False,False,False,False,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3658,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3659,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3660,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3661,False,False,False,False,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,True,False
3662,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [149]:
# Problem 1.3 - Locating missing values
# Which variables are missing data in at least one observation in the training set? Select all that apply.
pisaTrain.columns[pisaTrain.isnull().any()]

Index(['raceeth', 'preschool', 'expectBachelors', 'motherHS',
       'motherBachelors', 'motherWork', 'fatherHS', 'fatherBachelors',
       'fatherWork', 'selfBornUS', 'motherBornUS', 'fatherBornUS',
       'englishAtHome', 'computerForSchoolwork', 'read30MinsADay',
       'minutesPerWeekEnglish', 'studentsInEnglish', 'schoolHasLibrary',
       'schoolSize'],
      dtype='object')

In [150]:
# Problem 1.4 - Removing missing values
# Linear regression discards observations with missing data, so we will remove all such observations from the training and \
# testing sets.
pisaTrain =  pisaTrain.dropna(how='any',axis=0)
pisaTest =  pisaTest.dropna(how='any',axis=0)

In [151]:
# How many observations are now in the training set?
pisaTrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2414 entries, 1 to 3662
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   grade                  2414 non-null   int64
 1   male                   2414 non-null   int64
 2   raceeth                2414 non-null   object
 3   preschool              2414 non-null   float64
 4   expectBachelors        2414 non-null   float64
 5   motherHS               2414 non-null   float64
 6   motherBachelors        2414 non-null   float64
 7   motherWork             2414 non-null   float64
 8   fatherHS               2414 non-null   float64
 9   fatherBachelors        2414 non-null   float64
 10  fatherWork             2414 non-null   float64
 11  selfBornUS             2414 non-null   float64
 12  motherBornUS           2414 non-null   float64
 13  fatherBornUS           2414 non-null   float64
 14  englishAtHome          2414 non-null   float64
 15  computerForSchoolwork  2414 non-null   float64
 16  read30MinsADay         2414 non-null   float64
 17  minutesPerWeekEnglish  2414 non-null   float64
 18  studentsInEnglish      2414 non-null   float64
 19  schoolHasLibrary       2414 non-null   float64
 20  publicSchool           2414 non-null   int64
 21  urban                  2414 non-null   int64
 22  schoolSize             2414 non-null   float64
 23  readingScore           2414 non-null   float64
dtypes: float64(19), int64(4), object(1)
memory usage: 471.5+ KB

In [152]:
# How many observations are now in the test set?

pisaTest.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 990 entries, 0 to 1569
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   grade                  990 non-null    int64
 1   male                   990 non-null    int64
 2   raceeth                990 non-null    object
 3   preschool              990 non-null    float64
 4   expectBachelors        990 non-null    float64
 5   motherHS               990 non-null    float64
 6   motherBachelors        990 non-null    float64
 7   motherWork             990 non-null    float64
 8   fatherHS               990 non-null    float64
 9   fatherBachelors        990 non-null    float64
 10  fatherWork             990 non-null    float64
 11  selfBornUS             990 non-null    float64
 12  motherBornUS           990 non-null    float64
 13  fatherBornUS           990 non-null    float64
 14  englishAtHome          990 non-null    float64
 15  computerForSchoolwork  990 non-null    float64
 16  read30MinsADay         990 non-null    float64
 17  minutesPerWeekEnglish  990 non-null    float64
 18  studentsInEnglish      990 non-null    float64
 19  schoolHasLibrary       990 non-null    float64
 20  publicSchool           990 non-null    int64
 21  urban                  990 non-null    int64
 22  schoolSize             990 non-null    float64
 23  readingScore           990 non-null    float64
dtypes: float64(19), int64(4), object(1)
memory usage: 193.4+ KB

In [129]:
#dummies_test = pd.get_dummies(pisaTest["raceeth"], drop_first=True)

In [130]:
# pisaTest = pd.concat([pisaTest, dummies_test], axis=1)

In [131]:
# pisaTest.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 990 entries, 0 to 1569
Data columns (total 30 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   grade                                   990 non-null    int64
 1   male                                    990 non-null    int64
 2   raceeth                                 990 non-null    object
 3   preschool                               990 non-null    float64
 4   expectBachelors                         990 non-null    float64
 5   motherHS                                990 non-null    float64
 6   motherBachelors                         990 non-null    float64
 7   motherWork                              990 non-null    float64
 8   fatherHS                                990 non-null    float64
 9   fatherBachelors                         990 non-null    float64
 10  fatherWork                              990 non-null    float64
 11  selfBornUS                              990 non-null    float64
 12  motherBornUS                            990 non-null    float64
 13  fatherBornUS                            990 non-null    float64
 14  englishAtHome                           990 non-null    float64
 15  computerForSchoolwork                   990 non-null    float64
 16  read30MinsADay                          990 non-null    float64
 17  minutesPerWeekEnglish                   990 non-null    float64
 18  studentsInEnglish                       990 non-null    float64
 19  schoolHasLibrary                        990 non-null    float64
 20  publicSchool                            990 non-null    int64
 21  urban                                   990 non-null    int64
 22  schoolSize                              990 non-null    float64
 23  readingScore                            990 non-null    float64
 24  Asian                                   990 non-null    uint8
 25  Black                                   990 non-null    uint8
 26  Hispanic                                990 non-null    uint8
 27  More than one race                      990 non-null    uint8
 28  Native Hawaiian/Other Pacific Islander  990 non-null    uint8
 29  White                                   990 non-null    uint8
dtypes: float64(19), int64(4), object(1), uint8(6)
memory usage: 199.2+ KB

In [132]:
#pisaTest.drop(["White"],axis=1,inplace=True)

In [133]:
#pisaTest.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 990 entries, 0 to 1569
Data columns (total 29 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   grade                                   990 non-null    int64
 1   male                                    990 non-null    int64
 2   raceeth                                 990 non-null    object
 3   preschool                               990 non-null    float64
 4   expectBachelors                         990 non-null    float64
 5   motherHS                                990 non-null    float64
 6   motherBachelors                         990 non-null    float64
 7   motherWork                              990 non-null    float64
 8   fatherHS                                990 non-null    float64
 9   fatherBachelors                         990 non-null    float64
 10  fatherWork                              990 non-null    float64
 11  selfBornUS                              990 non-null    float64
 12  motherBornUS                            990 non-null    float64
 13  fatherBornUS                            990 non-null    float64
 14  englishAtHome                           990 non-null    float64
 15  computerForSchoolwork                   990 non-null    float64
 16  read30MinsADay                          990 non-null    float64
 17  minutesPerWeekEnglish                   990 non-null    float64
 18  studentsInEnglish                       990 non-null    float64
 19  schoolHasLibrary                        990 non-null    float64
 20  publicSchool                            990 non-null    int64
 21  urban                                   990 non-null    int64
 22  schoolSize                              990 non-null    float64
 23  readingScore                            990 non-null    float64
 24  Asian                                   990 non-null    uint8
 25  Black                                   990 non-null    uint8
 26  Hispanic                                990 non-null    uint8
 27  More than one race                      990 non-null    uint8
 28  Native Hawaiian/Other Pacific Islander  990 non-null    uint8
dtypes: float64(19), int64(4), object(1), uint8(5)
memory usage: 198.2+ KB

In [153]:
# Problem 3.1 - Building a model
# What is the Multiple R-squared value of lmScore on the training set?

# There are two ways to use categorical variable "raceeth" for building linear regression model. \
# Option 1: Create dummy variables using method pd.get_dummies to create formula.
# Option 2: This is more clean approach where create formula with indicating raceeth as categorical variable eg C(raceeth)
# Reference: https://stackoverflow.com/questions/34007308/linear-regression-analysis-with-string-categorical-features-variables


#Option 1:
#dummies_train = pd.get_dummies(pisaTrain["raceeth"], drop_first=True)
#pisaTrain = pd.concat([pisaTrain,dummies_train],axis=1)
#pisaTrain.drop(["White"], axis=1,inplace=True)

# since we are using R style formula for ols model from smf, we need to have a string with all column names excluding \ 
# dependent variable(readingScore) and categorical variable(raceeth). raceeth variable is treated via option 1 or 2 and will be 
# added to formula.
all_columns = " + ".join(pisaTrain.columns.difference(["readingScore","raceeth"]))

In [154]:
#Option 2
test_formula = "readingScore ~ " + "C(raceeth) + " + all_columns

'readingScore ~ C(raceeth) + computerForSchoolwork + englishAtHome + expectBachelors + fatherBachelors + fatherBornUS + fatherHS + fatherWork + grade + male + minutesPerWeekEnglish + motherBachelors + motherBornUS + motherHS + motherWork + preschool + publicSchool + read30MinsADay + schoolHasLibrary + schoolSize + selfBornUS + studentsInEnglish + urban'

In [166]:
regTrain = smf.ols(formula=test_formula, data=pisaTrain).fit()

In [167]:
regTrain.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:           readingScore   R-squared:                       0.325
Model:                            OLS   Adj. R-squared:                  0.317
Method:                 Least Squares   F-statistic:                     41.04
Date:                Mon, 05 Oct 2020   Prob (F-statistic):          1.72e-180
Time:                        07:14:18   Log-Likelihood:                -13795.
No. Observations:                2414   AIC:                         2.765e+04
Df Residuals:                    2385   BIC:                         2.781e+04
Df Model:                          28
Covariance Type:            nonrobust
========================================================================================================================
                                                           coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------------------------------
Intercept                                               76.4890     37.303      2.050      0.040       3.340     149.638
C(raceeth)[T.Asian]                                     63.1670     18.973      3.329      0.001      25.962     100.372
C(raceeth)[T.Black]                                      0.2650     17.370      0.015      0.988     -33.796      34.326
C(raceeth)[T.Hispanic]                                  28.3018     17.259      1.640      0.101      -5.542      62.146
C(raceeth)[T.More than one race]                        50.3548     18.570      2.712      0.007      13.940      86.770
C(raceeth)[T.Native Hawaiian/Other Pacific Islander]    62.1757     23.783      2.614      0.009      15.539     108.813
C(raceeth)[T.White]                                     67.2773     16.787      4.008      0.000      34.359     100.196
computerForSchoolwork                                   22.5002      5.703      3.946      0.000      11.318      33.683
englishAtHome                                            8.0357      6.859      1.171      0.242      -5.415      21.487
expectBachelors                                         55.2671      4.294     12.871      0.000      46.847      63.687
fatherBachelors                                         16.9298      3.995      4.237      0.000       9.095      24.764
fatherBornUS                                             4.3070      6.264      0.688      0.492      -7.976      16.590
fatherHS                                                 4.0182      5.579      0.720      0.471      -6.923      14.959
fatherWork                                               5.8428      4.396      1.329      0.184      -2.778      14.463
grade                                                   29.5427      2.937     10.057      0.000      23.783      35.303
male                                                   -14.5217      3.156     -4.601      0.000     -20.710      -8.333
minutesPerWeekEnglish                                    0.0128      0.011      1.194      0.233      -0.008       0.034
motherBachelors                                         12.6381      3.861      3.273      0.001       5.066      20.210
motherBornUS                                            -8.7982      6.588     -1.336      0.182     -21.716       4.120
motherHS                                                 6.0588      6.091      0.995      0.320      -5.886      18.004
motherWork                                              -2.8091      3.522     -0.798      0.425      -9.715       4.097
preschool                                               -4.4637      3.486     -1.280      0.201     -11.300       2.372
publicSchool                                           -16.8575      6.726     -2.506      0.012     -30.046      -3.669
read30MinsADay                                          34.8719      3.408     10.231      0.000      28.188      41.556
schoolHasLibrary                                        12.2151      9.265      1.318      0.187      -5.953      30.383
schoolSize                                               0.0065      0.002      2.977      0.003       0.002       0.011
selfBornUS                                              -3.8063      7.324     -0.520      0.603     -18.168      10.555
studentsInEnglish                                       -0.2866      0.228     -1.258      0.208      -0.733       0.160
urban                                                   -0.1101      3.963     -0.028      0.978      -7.881       7.661
==============================================================================
Omnibus:                        8.273   Durbin-Watson:                   1.998
Prob(Omnibus):                  0.016   Jarque-Bera (JB):                8.362
Skew:                          -0.141   Prob(JB):                       0.0153
Kurtosis:                       2.943   Cond. No.                     5.17e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.17e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [168]:
regTrain.resid

1        36.317872
3       -37.516051
4       177.011875
7      -126.773978
9       -34.739739
           ...
3655     85.681337
3657     -2.694060
3659     -3.089905
3660      7.977105
3662     -5.513369
Length: 2414, dtype: float64

In [169]:
SSE_train = sum(regTrain.resid ** 2)

In [170]:
SSE_train

12993364.986877073

In [173]:
# Problem 3.2 - Computing the root-mean squared error of the model
# What is the training-set root-mean squared error (RMSE) of lmScore?
RMSE_train = (SSE_train / len(pisaTrain)) ** (1/2)

In [175]:
RMSE_train

73.3655514329845

In [178]:
predTest = regTrain.predict(pisaTest)

In [182]:
predTest.min() - predTest.max()

-284.4683117951421

In [183]:
predTest.max()

637.6914349091121

In [196]:
predTest.describe()

count    990.000000
mean     516.710339
std       52.034082
min      353.223123
25%      482.030498
50%      523.980207
75%      555.701125
max      637.691435
dtype: float64

In [200]:
# Problem 4.2 - Test set SSE and RMSE
# What is the sum of squared errors (SSE) of lmScore on the testing set?

SSE_test = sum((predTest - pisaTest["readingScore"])**2)
SSE_test

5762082.3711443385

In [208]:
SST_test = sum(((pisaTrain["readingScore"]).mean() - pisaTest["readingScore"]) ** 2 )
SST_test

7802354.077613841

In [218]:
# What is the root-mean squared error (RMSE) of lmScore on the testing set?
RMSE_test = (SSE_test / len(pisaTest)) ** (1/2)
RMSE_test

76.29079383109158

In [220]:
# Problem 4.3 - Baseline prediction and test-set SSE
# What is the predicted test score used in the baseline model? Remember to compute this value using the training set and \
# not the test set.
baseline = pisaTrain["readingScore"].mean()

# What is the sum of squared errors of the baseline model on the testing set? HINT: We call the sum of squared errors for \
# the baseline model the total sum of squares (SST).
SSE_base = sum((baseline - pisaTest["readingScore"])**2)
SSE_base

7802354.077613841

In [217]:
# Problem 4.4 - Test-set R-squared
# The test-set R^2 is defined as 1-SSE/SST, where SSE is the sum of squared errors of the model on the test set and SST is \
# the sum of squared errors of the baseline model. 
R2_test = 1 - (SSE_test/SST_test)
R2_test

0.26149437543771015